<p id="notice"><%= notice %></p>

<h1>Students</h1>


  <div>
    <td>
      <th>Name</th>
      <th>Age</th>
    </td>
  </div>

  
    <% @students.each do |student| %>
    <div class="well" col-md-9> 
        <%= student.name %>
        <%= student.age %>           
        
        <%= link_to 'Show', student, class:'btn btn-primary' %>
        <%= link_to 'Edit', edit_student_path(student), class:'btn btn-success' %>
        <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %>
      
    <% end %>
  </div>


<br>

<%= link_to 'New Student', new_student_path, class: 'btn btn-info' %>
